{
  "names" : [
    { "mode" : "alts" },
    [
      { "mode" : "serie" },
      [ "Ar", "El", "I", "Ler", "Lu", "Ma", "Mi", "Or", "Kwa", "Da", "Bon", "Ba", "Am" ],
      [ "na", "ka", "an", "ga", "kke", "la", "pha", "ja", "kari", "gani", "karai", "anda", "diza", "adi", "wara", "fi", "allo", "zizi", "mamu", "muma" ]
    ]
  ]
}
