{
  "names" : [
    { "mode" : "alts" },
    [
      { "mode" : "serie" },
      [ "Ar", "El", "I", "Ler", "Lu", "Ma", "Mi", "Or", "Kwa", "Da", "Bon", "Ba", "Am" ],
      [ "no", "ko", "an", "ga", "kke", "lo", "pha", "jo", "kori", "gani", "karai", "ando", "dizo", "adi", "waro", "fi", "allo", "zizi", "momu", "mumo" ]
    ]
  ]
}